.items-grid {
    border: 3px solid black;
    padding: 20px;
    background-color: #f0f0f0;
    flex: 1;
    overflow-y: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
.item-slot:hover {
    background-color: #B688AE;
    border-top: calc(0.3vw) solid #FAB9EF;
    border-left: calc(0.3vw) solid #FAB9EF;
    border-bottom: calc(0.3vw) solid #654C61;
    border-right: calc(0.3vw) solid #654C61;
}
.item-slot:active {
    border-top: calc(0.3vw) solid #544C3B;
    border-left: calc(0.3vw) solid #544C3B;
    border-bottom: calc(0.3vw) solid #E0CA9F;
    border-right: calc(0.3vw) solid #E0CA9F;
    transform: translate(2px, 2px);
}

.item-slot {
    aspect-ratio: 1;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: #A09172;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    border-top: calc(0.3vw) solid #E0CA9F;
    border-left: calc(0.3vw) solid #E0CA9F;
    border-bottom: calc(0.3vw) solid #544C3B;
    border-right: calc(0.3vw) solid #544C3B;

    transition: all 0.1s ease;
}

.item-image {
    width: 70%;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 0;
    pointer-events: none;
}

.item-label {
    width: 100%;
    font-size: 1.3em;
    padding: 6px 4px 4px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #41423F;
    line-height: 1.2;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}





@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
